<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - Andrei's utilities</title>
    {% else %}
    <title>Main page - Andrei's utilities</title>
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,500|Ubuntu+Mono' rel='stylesheet' type='text/css'>

    <style>
      body {
        max-width: 700px;
        margin: 0 auto;
        padding: 1rem;
        font-family: "Roboto", sans-serif;
        line-height: 1.5;
      }
      code, pre {
        font-family: "Ubuntu Mono", monospace;
      }
      dd {
        margin-bottom: 1rem;
      }
      .request-type {
        font-family: "Ubuntu Mono", monospace;
        font-size: 0.9em;
        margin-left: 0.5em;
      }
    </style>
  </head>
  <body>
    <a href="https://github.com/avacariu/utils-site">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    {% block content %}{% endblock %}
  </body>
</html>
