{% extends "base.html" %}
{% block content %}
<h1>Utilities</h1>
<p>
  These are a few miscellaneous things I made to help me out; some just for
  fun.
</p>

<h2>Useful stuff</h2>

<p>
  There is absolutely no formatting here; output is sent to the browser with
  <code>mimetype="text/plain"</code>.
</p>

<dl>
  <dt><a href="{{ url_for('user_agent') }}">User agent string</a> <span class="request-type">(GET)</span></dt>
  <dd>Responds with your user agent string</dd>

  <dt><a href="{{ url_for('request_body') }}">Request body</a> <span class="request-type">(GET | POST)</span></dt>
  <dd>Responds with the body of the POST request you just sent.</dd>

  <dt><a href="{{ url_for('request_headers') }}">Request headers</a> <span class="request-type">(GET | POST)</span></dt>
  <dd>Responds with the headers of the request you just sent. Note that since this is behind CloudFlare and hosted on Heroku, there might be more headers than you expect.</dd>

  <dt><a href="{{ url_for('amionline') }}">Online check</a> <span class="request-type">(GET | POST)</span></dt>
  <dd>Check if you have internet access by sending a request to <code>/amionline/RANDOMSTRING</code> and checking if the response is <em>exactly</em> <code>RANDOMSTRING</code>.</dd>

  <dt><a href="{{ url_for('timer') }}">Pomodoro-style timer</a></dt>
  <dd>Keeps you on track.</dd>
</dl>

<h2>Just for fun</h2>
<dl>
  <dt><a href="{{ url_for('random_name') }}">Random name generator</a></dt>
  <dd>Generates a random name formatted as &ldquo;the adjective noun&rdquo;.</dd>
</dl>

<h2>Utilities with their own sites</h2>
<dl>
  <dt><a href="https://isitup.80x24.ca">Is it up?</a></dt>
  <dd>Keeps track of which of your machines are up.</dd>
</dl>
{% endblock %}
