{% extends "base.html" %}
{% block content %}
<h1>Utilities</h1>
<p>These are just some small utilities I made to help me out. They might be of some use to other people.</p>
<p>There is absolutely no formatting. Output is just sent to the browser with <code>mimetype="text/plain"</code>.</p>

<h2>Utilities hosted on this site</h2>
<dl>
  <dt><a href="{{ url_for('ip') }}">IP address</a> (GET)</dt>
  <dd>Responds your external IP address.</dd>

  <dt><a href="{{ url_for('user_agent') }}">User agent string</a> (GET)</dt>
  <dd>Responds with your user agent string</dd>

  <dt><a href="{{ url_for('request_body') }}">Request body</a> (GET | POST)</dt>
  <dd>Responds with the body of the POST request you just sent.</dd>

  <dt><a href="{{ url_for('request_headers') }}">Request headers</a> (GET | POST)</dt>
  <dd>Responds with the headers of the request you just sent.</dd>

  <dt><a href="{{ url_for('md5sum') }}">md5sum</a> (GET | POST)</dt>
  <dd>Computes MD5 hash. Pass <code>text=TEXT</code> as a parameter. Default is <code>''</code>.</dd>

  <dt><a href="{{ url_for('sha1sum') }}">SHA sums</a> (GET | POST)</dt>
  <dd>Computes SHA sums. Pass <code>ver=256&amp;text=TEXT</code> as parameters. Available versions are 1, 224, 256, 384 and 512. Default is <code>sha1('')</code>.</dd>

  <dt><a href="{{ url_for('fortune') }}">Fortune</a> (GET)</dt>
  <dd>Responds with whatever <code>fortune</code> outputs.</dd>
</dl>

<h2>Utilities with their own sites</h2>
<dl>
  <dt><a href="https://isitup.80x24.ca">Is it up?</a></dt>
  <dd>Keeps track of which of your machines are up.</dd>

  <dt><a href="https://timer.80x24.ca">Pomodoro-style timer</a></dt>
  <dd>Keeps you on track.</dd>

  <dt><a href="https://amionline.80x24.ca">Am I Online?</a></dt>
  <dd>Your app can now figure out if it's online.</dd>
</dl>
{% endblock %}
